* {
  font-family: "Ubuntu", sans-serif;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

#content {
  height: 100%;
  background-color: tomato;
}

/* HEADER STYLING */
header {
  text-align: center;
}
header > h1 {
  font-size: 45px;
  font-weight: 700;
  font-family: "Ubuntu", sans-serif;
  color: white;
  padding: 40px 0 25px 0;
}

/* MAIN STYLES */
main {
  height: 100%;
  background-color: white;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  padding: 30px 6% 0 6%; /* top, right, bottom, left */
  box-shadow: 0px 0px 20px 4px rgba(95, 95, 95, 0.44);
}

main h2 {
  font-size: 30px;
  font-weight: 500;
  color: #2f506c;
  margin-bottom: 25px;
}

/* CREATE TODO AREA STYLING */
.create-todo {
  padding-bottom: 40px;
}

.create-todo > label {
  display: none;
}

.create-todo > input[type="text"] {
  border: none;
  font-size: 25px;
  color: tomato;
  margin-bottom: 20px;
  transition: 0.08s;
}

.create-todo > input[type="text"]:focus {
  font-weight: bold;
  outline: none;
}

.create-todo > button {
  padding: 16px 24px;
  background-color: #2c79b9;
  border-radius: 30px;
  color: white;
  font-weight: 500;
  font-size: 20px;
  margin: 5px auto 0 auto;
  border: none;
  transition: 0.75s;
}

.create-todo > button:hover {
  background-color: #0c2340;
}

.create-todo > button:focus {
  outline-width: 1px;
  outline: none;
  box-shadow: 0px 0px 6px 4px #52dbff;
}

/* CITATION: See W3 Schools for instructions to change input placeholder colors here:
https://www.w3schools.com/howto/howto_css_placeholder.asp
*/
::placeholder {
  color: tomato;
  opacity: 0.5; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: tomato;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: tomato;
}

/* CITATION END - Change placeholder color from W3 Schools*/

/* PENDING TASK AREA STYLING */
.pending-todo {
  padding-bottom: 40px;
}

.pending-todo > ul > li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  padding-left: 12px;
  border-radius: 12px;
  box-shadow: 0px 4px 8px 1px #bebebebf;
}
.pending-todo > ul > li > p {
  padding: 8px 0;
  display: flex;
  font-size: 16px;
  max-width: 200px;
}
.pending-todo > ul > li > button {
  padding: 15px;
  font-size: 14px;
  height: 60px;
  background-color: #73c196;
  color: rgb(1, 70, 1);
  font-weight: 700;
  border: none;
  border-bottom-right-radius: 12px;
  border-top-right-radius: 12px;
  transition: 0.35s;
}

.pending-todo > ul > li > button:hover {
  color: #73c196;
  background-color: rgb(1, 70, 1);
}

.pending-todo > ul > li > button:focus {
  color: #73c196;
  background-color: rgb(1, 70, 1);
  outline: none;
}

/* ACTIVE TASK AREA STYLING */
.active-todo,
.completed-todo {
  padding-bottom: 40px;
}

.active-item,
.completed-item {
  padding: 15px;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  background-color: #f5f5f5;
  min-height: 140px;
  margin-bottom: 40px;
}

.active-item > div:first-of-type,
.completed-item > div:first-of-type {
  padding-top: 15px;
}

.active-item > div > div,
.completed-item > div > div {
  margin-bottom: 20px;
  padding-right: 10px;
}

.active-item > div > div > label,
.completed-item > div > div > label {
  font-weight: 700;
  color: #6b6b6b;
  font-size: 20px;
}

.timestamp > p {
  font-family: "Source Code Pro", monospace;
  font-size: 12px;
  line-height: 16px;
}

/* BUTTON DIV AREA STYLING */
.active-item > div:last-of-type {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.completed-item > div:last-of-type {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* BUTTON STYLING */
.editbutton {
  background-color: #5bc0de;
  color: white;
  border-radius: 16px;
  padding: 14px;
  border: none;
  width: 72px;
  transition: 0.3s;
}

.editbutton:hover {
  color: #5bc0de;
  background-color: #f0f0f0;
}

.editbutton:focus {
  color: #34778b;
  background-color: #bbbbbb;
  border: 1px solid black;
}

.deletebutton {
  background-color: #d9534f;
  color: white;
  font-weight: 700;
  width: 72px;
  border-radius: 16px;
  padding: 14px;
  border: none;
  transition: 0.3s;
}

.deletebutton:hover {
  color: #d9534f;
  background-color: #f0f0f0;
}

.deletebutton:focus {
  color: #d9534f;
  background-color: #bbbbbb;
  border: 1px solid black;
}

/* WARNING MESSAGE STYLING */

.warning {
  position: absolute;
  font-family: "Ubuntu", sans-serif;
  background-color: #f7e1aa;
  display: flex;
  justify-content: space-around;
  left: 5%;
  right: 5%;
  bottom: 5%;
  padding: 8px 20px;
  border-radius: 10px;
}

.warning strong {
  font-weight: bold;
  font-size: 28px;
  color: white;
  margin-right: 10px;
}

.warning p {
  font-weight: 500;
  font-size: 24px;
  color: #916425;
}

/* ERROR MESSAGE STYLING */

.error {
  position: absolute;
  font-family: "Ubuntu", sans-serif;
  background-color: #fda6a0;
  display: flex;
  justify-content: space-around;
  left: 5%;
  right: 5%;
  bottom: 5%;
  padding: 8px 20px;
  border-radius: 10px;
}

.error strong {
  font-weight: 700;
  font-size: 28px;
  color: white;
  margin-right: 10px;
  vertical-align: bottom;
}

.error p {
  font-weight: 500;
  font-size: 24px;
  color: #8a302c;
}

/* ******************************** */
/* BREAKPOINT MAX 900PX FOR DESKTOP */
/* ******************************** */

@media screen and (min-width: 900px) {
  header {
    padding-top: 40px;
    padding-bottom: 25px;
  }

  main {
    padding-top: 80px;
  }

  main > div:first-of-type {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }

  .create-todo {
    flex-grow: 1;
  }

  .create-todo > input[type="text"] {
    transition: none;
  }

  .pending-todo {
    flex-grow: 2;
  }

  .pending-todo > ul > li {
    padding-left: 25px;
  }

  .pending-todo > ul > li > p {
    font-size: 18px;
    max-width: 320px;
  }

  #activetodolist,
  #completedtodolist {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .active-item,
  .completed-item {
    width: 49%;
  }
}
